.navbar {
  background-color: #ffffff;
  border-bottom: 2px solid gray;
}

.nav-link {
  color: gray;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  background-color: #4aaaa5;
  padding: 20px;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #4aaaa5;
  padding: 15px;
}

.container {
  background-color: #ffffff;
  margin-top: 30px;
}

h4 {
  color: #ffffff;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

img {
  height: 150px;
  width: 150px;
  padding: 10px;
}
